{% extends 'base.html' %}
{% load static %}
{% load blog_extras %}


{% block content %}
<!--MATCH INFORMATION'S-->
<h1 style="text-align: center;">{{ target_match.championship|transformchampionship }}</h1>
<h1 style="text-align: center;">{{ target_match.date }}</h1>
<h1 style="text-align: center;">{{ target_match }}</h1>

<hr style="width: 50%; margin: 30 auto; border: 1.5px solid;">

<!--DATA CARDS TABLE-->
<div style="display: table; margin: auto">
    <h1 style="text-align: center;">Cards Stats </h1>

    <table class="table w-auto text-center">
        <thead>
        <tr>
            <th></th>
            <th scope="col">{{ target_match.home_team }}</th>
            <th scope="col">{{ target_match.away_team }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Average Cards For</td>
            <td>{{ home_team_cards_for_average }}</td>
            <td>{{ away_team_cards_for_average }}</td>
        </tr>
        <tr>
            <td>Average Cards Against</td>
            <td>{{ home_team_cards_against_average }}</td>
            <td>{{ away_team_cards_against_average }}</td>
        </tr>
        </tbody>
    </table>
</div>

<hr style="width: 50%; margin: 30 auto; border: 1.5px solid;">

<!--HOME TEAM HISTORIQUE -->
<div style="display: table; margin: auto">
    <h1 style="text-align: center;">{{ home_team }} Historique</h1>

    <table class="table w-auto text-center">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">HT</th>
            <th scope="col">Score</th>
            <th scope="col">AT</th>
            <th scope="col">Corner F</th>
            <th scope="col">Corner A</th>
            <th scope="col">YC F</th>
            <th scope="col">YC A</th>
            <th scope="col">RC F</th>
            <th scope="col">RC A</th>
        </tr>
        </thead>
        <tbody>
        {% for match in home_team_histo %}
        <tr>
            <td>{{ match.date }}</td>
            <td>{{ match.home_team }}</td>
            <td>{{ match.score }}</td>
            <td>{{ match.away_team }}</td>
            <td>{{ match.corner_for }}</td>
            <td>{{ match.corner_against }}</td>
            <td>{{ match.yellow_card_for }}</td>
            <td>{{ match.yellow_card_against }}</td>
            <td>{{ match.red_card_for }}</td>
            <td>{{ match.red_card_against }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<!--AWAY TEAM HISTORIQUE-->
<div style="display: table; margin: auto">
    <h1 style="text-align: center;">{{ away_team }} Historique</h1>

    <table class="table w-auto text-center">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">HT</th>
            <th scope="col">Score</th>
            <th scope="col">AT</th>
            <th scope="col">Corner F</th>
            <th scope="col">Corner A</th>
            <th scope="col">YC F</th>
            <th scope="col">YC A</th>
            <th scope="col">RC F</th>
            <th scope="col">RC A</th>
        </tr>
        </thead>
        <tbody>
        {% for match in away_team_histo %}
        <tr>
            <td>{{ match.date }}</td>
            <td>{{ match.home_team }}</td>
            <td>{{ match.score }}</td>
            <td>{{ match.away_team }}</td>
            <td>{{ match.corner_for }}</td>
            <td>{{ match.corner_against }}</td>
            <td>{{ match.yellow_card_for }}</td>
            <td>{{ match.yellow_card_against }}</td>
            <td>{{ match.red_card_for }}</td>
            <td>{{ match.red_card_against }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}