{% extends 'base.html' %}
{% load static %}
{% load blog_extras %}

{% block content %}

{% for match in matchs %}
{% for key, value in logo.items %}
{% if key == match.championship %}

<div class="col mb-5">
    <div class="card h-100">
        <!-- Image Logo-->
        <img class="card-img-top" src="{{ value }}" alt="..."/>
        <div class="card-body p-4">
            <div class="text-center">
                <h6>{{ match.date }}</h6>
                <!-- Championship name-->
                <h5 class="fw-bolder">{{ match.championship|transformchampionship }}</h5>
                <!-- Match name-->
                {{ match|transformatch }}
            </div>
        </div>
        <!-- Stats Section-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                <a class="btn btn-outline-dark mt-auto"
                   href="{% url 'blog-match_details' slug=match.slug %}">Stats du match</a>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endfor %}
{% endfor %}

{% endblock %}